<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:type" content="{{og.type}}">
	<meta property="og:title" content="{{og.title}}">
	<meta property="og:url" content="{{og.url}}">
	<meta property="og:description" content="{{og.desc}}">
    <title>Document</title>
</head>
<body>
    {{{body}}}
</body>
</html>